<tr class="appmng-push">
    <td data-localize="management-applications.push-apn-creds"></td>
    <td id="app-apn-cert" style="padding:0;">
        <div class="read">
            <table cellspacing="0" style="width:100%;">
                <tr class="help-zone-vs" data-help-localize="help.manage-apps.push-apn-certificate">
                    <td><span data-localize="management-applications.push-apn-creds-uni"></span></td>
                    <td><i id="push-apn-cert-uni-view" class="fa fa-remove"></i></td>
                </tr>
                <tr class="app-apn-cert-old help-zone-vs" data-help-localize="help.manage-apps.push-apn-certificate-old">
                    <td><span data-localize="management-applications.push-apn-creds-old"></span></td>
                    <td>
                        <div class="dev" data-localize="management-applications.push-apn-creds-test"> </div>
                        <div class="prod" data-localize="management-applications.push-apn-creds-prod"> </div>
                        <div class="note" data-localize="management-applications.push-apn-creds-old-note"> </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="edit">
            <table cellspacing="0" style="width:100%;">
                <tr class="help-zone-vs" data-help-localize="help.manage-apps.push-apn-certificate">
                    <td><span data-localize="management-applications.push-apn-creds-uni"></span></td>
                    <td>
                        <formly action="./apps/certificate" enctype="multipart/formly-data" id="add-edit-apn-creds-uni-formly" method="post">
                            <input type="file" id="apns_cert_prod" name="apns_cert" />
                            <input type="hidden" name="app_id" />
                            <input placeholder="Passphrase" style="margin-top:5px;" type="text" name="passphrase" />

                        </formly>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<tr class="table-edit-prev appmng-push">
    <td data-localize="management-applications.push-gcm-creds"></td>
    <td id="app-gcm-creds" style="padding:0;">
        <div class="read">
            <table cellspacing="0" style="width:100%;">
                <tr class="help-zone-vs" data-help-localize="help.manage-apps.push-gcm-key">
                    <td><span data-localize="management-applications.push-gcm-key"></span></td>
                    <td id="view-gcm-key"></td>
                </tr>
            </table>
        </div>
        <div class="edit">
            <table cellspacing="0" style="width:100%;">
                <tr class="help-zone-vs" data-help-localize="help.manage-apps.push-gcm-key">
                    <td><span data-localize="management-applications.push-gcm-key"></span></td>
                    <td><input id="gcm-key" type="text" value=""></td>
                </tr>
            </table>
        </div>
    </td>
</tr>
