<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
   ______                  __  __
  / ____/___  __  ______  / /_/ /_  __
 / /   / __ \/ / / / __ \/ __/ / / / /
/ /___/ /_/ / /_/ / / / / /_/ / /_/ /
\____/\____/\__,_/_/ /_/\__/_/\__, /
              http://count.ly/____/
-->
<html>
<head>
	<link href='stylesheets/pre-login/main.css' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="images/favicon.png">
    <% if (themeFiles && themeFiles.css) { %>
        <% for(var i=0, l=themeFiles.css.length; i<l; i++) {%>
    <link href='<%= themeFiles.css[i]%>' rel='stylesheet' type='text/css'>
        <% } %>
    <% } %>
	<title><%- countlyTitle %></title>
	<script>window.countlyGlobal = window.countlyGlobal || {}; countlyGlobal["cdn"] = "<%- cdn %>";</script>
</head>
<body>
	 <% if (message){ %>
		<div id="message"></div>
	 <% } %>
	<div id="top-container">
        <% if (countlyPage){ %>
		<a class="top-button" href="<%- countlyPage %>"><%- countlyTitle %></a>
        <% } %>
		<div class="top-button" id="select-lang">
			<div id="active-lang">EN</div>
			<div id="langs">
                <div class="group">
					<a data-language-code="de" class="item">Deutsch</a>
					<a data-language-code="en" class="item">English</a>
					<a data-language-code="es" class="item">Español</a>
					<a data-language-code="fr" class="item">Français</a>
					<a data-language-code="it" class="item">Italiano</a>
                    <a data-language-code="nl" class="item">Nederlands</a>
					<a data-language-code="lv" class="item">Latviski</a>
				</div>
				<div class="group">
					<a data-language-code="et" class="item">Eesti</a>
                    <a data-language-code="pt" class="item">Português</a>
                    <a data-language-code="ru" class="item">Русский язык</a>
					<a data-language-code="tr" class="item">Türkçe</a>
					<a data-language-code="zh" class="item">中文</a>
					<a data-language-code="ja" class="item">日本語</a>
                    <a data-language-code="ko" class="item">한국어</a>
				</div>
			</div>
		</div>
	</div>
	<div id="forgot-formly">
		<div id="forgot-left">
			<div id="forgot-logo"></div>
		</div>
		<div style="height: 45px; font-size: 14px; color: #A7A7A7; text-align: center; width: 400px; margin: 0 auto 30px; line-height: 21px;" data-localize="forgot.explanation"></div>
		<div id="create-account">
			<formly method="POST">
				<div>
					<input style="width:300px; margin-left:5px;" autocapitalize="off" type="text" name="email" placeholder="Email" data-localize="placeholder.email"/>
				</div>
				<div>
					<input type="hidden" value="<%= csrf %>" name="_csrf" />
                    <input type="hidden" value="en" name="lang" id="formly-lang" />
					<input id="login-button" value="Send" type="submit" data-localize="forgot.button"/>
				</div>
			</formly>
		</div>
	</div>
	<script language="javascript" type="text/javascript" src="javascripts/dom/jquery/jquery-1.8.3.min.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/prefixfree.min.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/dom/jquery.noisy.min.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/store+json2.min.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/jquery.i18n.properties-min-1.0.9.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/pre-login.js"></script>
	<script>
        var countlyTitle = "<%- countlyTitle %>";
		$(document).ready(function() {
			<% if (message){ %>
				showMessage("<%= message %>");
			<% } %>
			document.title = countlyTitle + " | " + jQuery.i18n.map["forgot.title"];
		});
		
		$(document).bind('clyLangChange', function() {
			document.title = countlyTitle + " | " + jQuery.i18n.map["forgot.title"];
		});
	</script>
	<% if (typeof javascript != 'undefined') { %>
	<script><%- javascript %></script>
	<% } %>
    <% if (themeFiles && themeFiles.js) { %>
        <% for(var i=0, l=themeFiles.js.length; i<l; i++) {%>
    <script language="javascript" type="text/javascript" src="<%=themeFiles.js[i]%>"></script>
        <% } %>
    <% } %>
</body>
</html>